
.contImge{
    /* width: 1380px;
    margin: 0px;
    padding: 0px;
    height: 350px;
    margin-left: -15px;
     */

     position: relative;
     width: 100%;
     overflow: hidden;
     background-image: url(../../public/medicalBlog.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
     height: 350px;
  
}
.contImge img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 350px;
}


.card-title {
    text-overflow: ellipsis;
    white-space:nowrap;
}

.cardBtn{
    border: solid 1px #222f66;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-family: -moz-initial;
    color: #222f66;
    padding: 10px;
    transition: .3s;
}

.cardBtn:hover{
    color: aliceblue;
    background-color: #222f66;
}



.header {
    background-color: #eeeeee;
    padding: 15px;
    width: 100%;
  }




