/* Custom Colors */
.forgetPasswordContainer {
  margin: auto;
  width: 400px;
  padding: 5px;
}

.fCard {
  padding: 5px;
  width: 100%;
  background-color: #ffffff; 
  color: #333333; 
  border: 1px solid #e1e5eb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
  color: #232f66 
}

.label {
  color: #333333;
}

.formControl {
  background-color: #f1f1f1;
  color: #333333;
  border: 1px solid #e1e5eb; 
}

.invalid {
  border-color: #dc3545; 
}

.error {
  color: #dc3545;
}

.success {
  color: #28a745; 
}

.sButton {
  background-color: #232f66;
  border: none;
  color: #ffffff;
}
