/* NewsDetailsComponent.module.css */ 

/* 
    ! TO MAKE THIS CSS FILE UNIQE AND WORK ONLY ON THE FILE WHICH IMPORTED IN IT 
*/

.container {
    margin: 3rem;
  }
  
  .card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .cardBody {
    padding: 2rem;
  }
  
  .cardTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .cardDate {
    font-size: 1rem;
    color: #6c757d; /* Bootstrap's text-muted color */
    margin-bottom: 1rem;
  }
  
  .cardText {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .spinnerContainer {
    text-align: center;
    margin-top: 3rem;
  }
  
  .noNews {
    text-align: center;
    margin-top: 3rem;
  }
  