/* SpecialtyDetailComponent.css */

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  .card-title {
    font-size: 1.2rem;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }
  
  img.img-fluid {
    max-height: 350px;
    object-fit: cover;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  

  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  