.custom-input {
    background-color: #222F66;
    border: 1px solid #D8B36A;
    border-radius: 4px;
    color: white;
    padding: 15px;
    transition: border-color 0.3s ease;
  }
  
  .custom-input:focus {
    background-color: #222F66;
    border-color: #D8B36A;
    box-shadow: none;
    outline: none;
  }
  input.form-control::placeholder{
    color: white !important;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .form-floating {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-floating>.form-control {
    background-color: #222F66;
    color: white;
    padding: 15px;
  }
  
  .form-floating>.form-control::placeholder {
    color: transparent;
  }
  
  .form-floating>.form-control:focus~label,
  .form-floating>.form-control:not(:placeholder-shown)~label {
    top: -10px;
    left: 15px;
    font-size: 0.75rem;
    color: #D8B36A;
    background-color: #222F66;
    padding: 0 5px;
    transform: scale(0.85);
  }
  
  .form-floating>label {
    color: #b0b0b0;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 15px;
    background-color: #222F66;
    padding: 0 5px;
    transition: all 0.2s ease;
    pointer-events: none;
    transform: translateY(-50%);
  }
  