.donationWrapper {
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 1111;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content !important;
}
@media (max-width: 768px) {
  /* .donationWrapper {
    position: absolute;
   right: 0 !important;
   top: 10px !important;
  } */
}
/* Icon styling for responsiveness */
.donateIcon {
  font-size: 70px;
  color: #5a61c0;
  cursor: pointer;
}

/* Adjust icon size based on screen width */
@media (max-width: 768px) {
  .donateIcon {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .donateIcon {
    font-size: 50px;
  }
  .donateText{
    font-size: 1rem !important;
    margin-top: 2px !important;
  }
}

/* Text styling */
.donateText {
  color: #DEAA4E;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
}

/* Donation image */
.donationImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Wallet list */
.walletList {
  list-style-type: none;
  padding-left: 0;
}

.walletItem {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

/* Media queries for smaller devices */
@media (max-width: 768px) {
  .walletItem {
    font-size: 1rem;
  }
}
.donationInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

.donationInput:focus {
  border-color: #6772E5; /* Change border color on focus */
  outline: none;
}

.walletList {
  list-style: none;
  padding: 0;
}

.walletItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.walletItem p {
  margin: 0 10px 0 0;
  font-weight: bold;
}

.stripeButton {
  background-color: #6772E5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.stripeButton:hover {
  background-color: #5a61c0; /* Darken button on hover */
}

.donationImage {
  max-width: 100%; /* Ensure responsive image */
  height: auto;
  border-radius: 10px; /* Optional: round image corners */
}
