
.custom-bordered-div {
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    border-width: 60px;
    border-right-width: 40px;
    border-left-width: 40px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #222F66 50%, #EEE 50%) 1;
    box-sizing: border-box;
    position: relative;
  }
  .text{
    width: 25%;
  }
  @media (max-width:769px) {
        .text{
            width: 100%;
        }
        .border-top-links {
          display: none !important;
        }
  }
  .border-top-links {
    position: absolute;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  
  .border-top-links .nav-link {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 9px;
    background-color: #222F66;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .border-top-links .nav-link:hover {
    background-color: #DEAA4E;
    color: white !important;
  }
  .active{
    color: #DEAA4E !important;
  }
  
  .mySwiper {
    width: 100%;
    height: 400px; 
  }
  
  .mySwiper img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .border-bottom-links{
    position: absolute;
    bottom: -56px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  /* Responsive adjustments */
  @media (max-width: 768px) {   
    .custom-bordered-div {
      padding: 10px;
      border-width: 30px;
    }
  
    .border-top-links {
      top: -30px;
      gap: 10px;
    }
    .border-bottom-links {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .subNav{
        display: none !important;
    }
    .border-top-links .nav-link {
      font-size: 14px;
      padding: 8px;
    }
  }
  