.doctorsRow {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .doctorCol {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }
  
  .cardContent {
    text-align: center;
  }
  
  .doctorImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .doctorName {
    color: #232f66;
    margin-bottom: 5px;
  }
  
  .speciality {
    color: #6c757d;
  }
  
  .separator {
    margin: 10px 0;
  }
  
  .location,
  .education {
    color: #d3d4d3;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  
  .profileButton {
    color: #606161;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .5s ease;
  }

  .profileButton:hover {
    color: #0088ce ;

  }
  
  .appointmentButton {
    background-color: #232f66;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    transition: all .5s ease;
  }

  .appointmentButton:hover{ 
    background-color: #006bb2;
  }
  
  @media (max-width: 768px) {
    .doctorCol {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 576px) {
    .doctorCol {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  