.formContainer {
    background-color: #222F66;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .formContainer .form-label {
    font-weight: bold;
    color: #222F66;
  }
  
  .formContainer .form-select {
    border: 2px solid #222F66;
    border-radius: 5px;
  }
  
  .formContainer .btn {
    background-color: #222F66;
    border: none;
  }
  
  .formContainer .btn:hover {
    background-color: #DEAA4E;
  }
  